<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9pLk-yZeCYVv8ptP3nnYjOhsu8XSqhj4</string>
	<key>GCM_SENDER_ID</key>
	<string>49244403149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakirogut.CoDo</string>
	<key>PROJECT_ID</key>
	<string>codo-3d9d5</string>
	<key>STORAGE_BUCKET</key>
	<string>codo-3d9d5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49244403149:ios:34c0481552a15af0ed0084</string>
</dict>
</plist>